<div class="row">
  <div class="col-xs-12">
    <p>Add new servers or blueprint</p>
    <label>Server name</label>
    <!-- local refrence example -->
    <input type="text" class="form-control" #serverName>
    <label>Sever Content</label>
    <!-- Example for getting value of form from ng model
    <input type="text" class="form-control" [(ngModel)]="serverContent"> -->
    <!-- Example for view Child component-->
    <input type="text" class="form-control" #serverContent>
    <br>
    <button class="btn btn-primary" (click)="onAddServer(serverName)">Add Server</button>
    <button class="btn btn-primary" (click)="onAddBlueprint(serverName)">Add server blueprint</button>
  </div>
</div>
